.App {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2vw;
}

.card-title, .card-text {
  display: flex; 
  justify-content: flex-start;
  height: 20px;
  width: 100%;
}

.card-text input, .card-title input{
  max-width: 60%;
  margin-left: 10px;
  height: 100%;
  box-sizing: content-box;
  flex-grow: 2;
}

.harry-potter-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.harryPotterCard {
  width: 560px;
  margin: 10px;
}

.characterImage {
  width: 100%;
  height: calc(50vw / 5 * 3);
  min-height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .harryPotterCard {
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  .harryPotterCard {
    width: 40vw;
  }
  
  .characterImage {
    height: calc(40vw / 5 * 3);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 