/* starter code */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.HomePage,
.ProjectsPage {
  padding: 20px;
  min-height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
}

.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.2rem;
  color: #000000;
}

.ProjectCard {
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.selected {
  text-shadow: 1px 0px 3px white;
  border-bottom: rgba(230, 244, 77, 0.804) solid 5px;
  padding-bottom: 5px;
}

.btn {
  padding: 5px 20px;
}

.profile {
  width: 200px;
}

.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}

/* ******************************************** */
/* below is added throughout the lesson example */

.light {
  background-color: #efeded;
}

.dark {
  background-color: #18191a;
}

.Navbar.light {
  background-color: #ffffff;
}

.Navbar.dark {
  background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h2,
.light h3 {
  color: #000000;
}

.dark a,
.dark p,
.dark h1,
.dark h2, 
.dark h3 {
  color: #ffffff;
}
