.App {
  text-align: center;
}

.clock {
  margin: 20px;
}

.crypto-card {
  width: 80vw;
  padding: 50px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 50px auto;
  text-align: left;
}

.counter > h1 {
  margin: 10px auto;
}

.counter button {
  margin: 10px;
}
.crypto-card > h2, .counter > h1, .counter {
  display: flex; 
  justify-items: center;
  align-items: center;
}

.crypto-card > button {
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
