body {
  margin: 0;
  overflow-x: hidden;
}

.character {
  position: relative
}

.characterName {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: calc(100vw / 5);
  height: calc(100vw / 5);
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.character:hover .characterName {
  visibility:visible;
}

.characterImg > img {
  width: calc(100vw / 5);
  height: calc(100vw / 5);
  margin-bottom: 0px;
  padding: 0;
}

.characterImg {
  margin-bottom: 0;
  padding: 0;
  height: calc(100vw / 5);
}

.characterContainer {
  display: flex; 
  flex-wrap: wrap;
  width: 100vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
